name: Deploy Staging (Feature Branches)

on:
  push:
    branches:
      - 'feature/**'
      - 'dev'
      - 'develop'

jobs:
  build-staging:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.41.2'
    
    - name: Get dependencies
      run: flutter pub get
    
    - name: Build web
      run: flutter build web --release
    
    - name: Deploy to Staging (GitHub Pages - Branch folder)
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/web
        destination_dir: staging/${{ github.ref_name }}
